@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  font-size: 16px;
}

body{
  padding: 1.2rem;
  
}

.App{
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  font-family: "Exo 2", sans-serif;
 overflow-x: hidden;
 overflow-y: auto;

}

.searchContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchContainer .dataContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 0;
}

.searchContainer .topHead{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.searchContainer .searchInputs{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchContainer .searchInputs .searchBox{
  width: 70%;
  height: 3.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: none;
  outline: none;
}

.searchContainer .searchInputs .searchBox input{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1rem;

}

.searchContainer .searchInputs .searchBox button{
  /* width: 3.5rem;
  height: 3.5rem; */
  border-radius: 50%;
  padding: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  font-size: 1rem;


}

.searchContainer .filters{
  /* width: 100px; */
  height: 4rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  background-color: rgb(0, 166, 255);
  color: white;
  font-size: 1rem;
  gap: 10px;
  text-wrap: nowrap;

}

.searchContainer .filters .icon{
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: black;
  cursor: pointer;
}

.searchContainer .filters .icon:hover{
  background-color: rgba(6, 52, 77, 0.349);

}
.searchContainer .filters .dropDown{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  top: 100%;
  color: black;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 0.8rem;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
  background-color: white;

}

.searchContainer .filters .dropDown p{
  width: 100%;
  height: 2.2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.searchContainer .filters .dropDown p:hover{
  
  background-color: rgba(0, 0, 0, 0.137);
  cursor: pointer;
}

@media (min-width: 100px) and (max-width: 500px) {
  html{
    font-size: 5px;
  }
  .topHead {
    flex-direction: column;
  }

  .searchContainer .searchInputs .searchBox{
    width: 100%;
  }
  
}


@media (min-width: 500px) and (max-width: 700px) {
  html{
    font-size: 8px;
  }
  
}

@media (min-width: 700px) and (max-width: 800px) {
  html{
    font-size: 10px;
  }
  
}


@media (min-width: 800px) and (max-width: 900px) {
  html{
    font-size: 12px;
  }
  
}


@media (min-width: 900px) and (max-width: 1000px) {
  html{
    font-size: 12px;
  }
  
}


@media (min-width: 1000px) and (max-width: 1200px) {
  html{
    font-size: 13px;
  }
  
}

@media (min-width: 1200px) and (max-width: 1400px) {
  html{
    font-size: 15px;
  }
  
}